@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@300;400;500;600;700;800;900&family=Passions+Conflict&display=swap');

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #05f2a7;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #01ca8b;
}

.btn {
  background-color: #01ca8b !important;
  color: #fff;
  border: none;
  border-radius: 0;
}